/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/*Переменные*/

:root {
  --basic-black-opacity-1: rgba(0, 0, 0, 1);
  --basic-black-opacity-015: rgba(0, 0, 0, 0.15);
  --basic-black-opacity-018: rgba(0, 0, 0, 0.18);
  --basic-black-opacity-2: rgba(0, 0, 0, 0.2);
  --basic-black-opacity-3: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-4: rgba(0, 0, 0, 0.4);
  --basic-black-opacity-6: rgba(0, 0, 0, 0.6);
  --basic-grey-opacity-1: rgba(255, 255, 255, 0.1);
  --basic-grey-opacity-3: rgba(255, 255, 255, 0.3);
  --basic-grey-opacity-6: rgba(255, 255, 255, 0.6);
  --basic-grey-opacity-7: rgba(255, 255, 255, 0.7);
  --basic-half-grey-opacity-7: rgba(238, 238, 238, 0.7);
  --basic-black: #000000;
  --basic-black-light: #231f20;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-white-dark: #f2f2f2;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey-lighten: #d9d9d9;
  --basic-grey-dark: #ebebeb;
  --basic-grey-darker: #dcdcdc;
  --special-grey: #a6a6a6;
  --special-grey-dark: #c4c4c4;
  --special-red-white: #f6dada;
  --special-grey-whiten: #eaeaea;
  --special-grey-lighten: #efefef;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #ffc600;
  --special-yellow-lighten: #f7e296
}

/*Шрифты*/

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans-light.woff2) format("woff2"), url(../fonts/opensans-light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-light.woff2) format("woff2"), url(../fonts/gilroy-light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-regular.woff2) format("woff2"), url(../fonts/gilroy-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-extrabold.woff2) format("woff2"), url(../fonts/gilroy-extrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal
}

/*Анимация появления модального окна*/

@-webkit-keyframes feedback {
  0% {
    transform: translate(-50%, -100%)
  }
  30% {
    transform: translate(-50%, -30%)
  }
  50% {
    transform: translate(-50%, -80%)
  }
  70% {
    transform: translate(-50%, -40%)
  }
  90% {
    transform: translate(-50%, -60%)
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

@keyframes feedback {
  0% {
    transform: translate(-50%, -100%)
  }
  30% {
    transform: translate(-50%, -30%)
  }
  50% {
    transform: translate(-50%, -80%)
  }
  70% {
    transform: translate(-50%, -40%)
  }
  90% {
    transform: translate(-50%, -60%)
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

@-webkit-keyframes map {
  0% {
    transform: translate(-50%, -100%)
  }
  30% {
    transform: translate(-50%, -30%)
  }
  50% {
    transform: translate(-50%, -80%)
  }
  70% {
    transform: translate(-50%, -40%)
  }
  90% {
    transform: translate(-50%, -60%)
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

@keyframes map {
  0% {
    transform: translate(-50%, -100%)
  }
  30% {
    transform: translate(-50%, -30%)
  }
  50% {
    transform: translate(-50%, -80%)
  }
  70% {
    transform: translate(-50%, -40%)
  }
  90% {
    transform: translate(-50%, -60%)
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

/*Анимация ошибки ввода данных в модальное окно*/

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-40%, -50%)
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-60%, -50%)
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-40%, -50%)
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-60%, -50%)
  }
}

/*Глобальные стили*/

.page {
  height: 100%
}

.monopods-for-selfie-page {
  height: 100%
}

.body {
  min-width: 1177px;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black)
}

.button,
a {
  text-decoration: none
}

img {
  width: 100%;
  height: auto
}

/*Кнопка, ссылка*/

.button {
  position: relative;
  padding: 9px 39px 9px 44px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: .2em;
  background: 0 0;
  border: 0;
  cursor: pointer;
  z-index: 1
}

.button::before,
.button:active,
.button:hover {
  background-color: var(--special-yellow-dark)
}

.button:active {
  color: var(--basic-black-opacity-3)
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  transform: translateY(-50%);
  z-index: -1
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%)
}

.container {
  width: 1160px;
  margin: 0 auto
}


.containers {
  padding: 0 60px
}

/*===Заголовок===*/

header {
  position: relative;
  width: 1160px;
  min-height: 280px;
  margin: 40px auto 0;
  padding-top: 19px;
  padding-bottom: 1px;
  background-color: var(--special-yellow)
}

/*Логотип сайта*/

.icon-mainlogo {
  position: absolute;
  top: -20px;
  width: 163px;
  height: 35px;
  fill: var(--basic-black)
}

.icon-logo {
  position: absolute;
  top: -20px;
  width: 163px;
  height: 35px;
  fill: var(--basic-black)
}

.icon-logo:hover {
  opacity: .6
}

.icon-logo:active {
  opacity: .3
}

/*Навигация сайта*/

/*Навигация пользователя*/

.user-nav {
  display: flex;
  align-items: baseline;
  width: 1040px;
  margin-top: 16px;
  margin-bottom: 39px;
  padding: 0;
  list-style: none
}

.user-nav__item {
  position: relative;
  margin-right: 35px
}

.user-nav__item:last-child {
  margin-right: 0
}

/*Форма поиска*/

.user-nav__item-search {
  width: 440px;
  margin-right: 100px
}

.user-nav__search {
  position: relative;
  display: flex;
  width: 440px
}

.user-nav__search::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--basic-black)
}

.user-nav__search-field {
  flex-grow: 1;
  margin: 0;
  padding: 7px 38px;
  font: inherit;
  color: var(--basic-black-opacity-3);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent
}

.user-nav__search-field::-webkit-input-placeholder {
  color: var(--basic-black-opacity-3)
}

.user-nav__search-field::-moz-placeholder {
  color: var(--basic-black-opacity-3)
}

.user-nav__search-field::placeholder {
  color: var(--basic-black-opacity-3)
}

.user-nav__search-field:hover::-webkit-input-placeholder {
  color: var(--basic-black-opacity-6)
}

.user-nav__search-field:hover::-moz-placeholder {
  color: var(--basic-black-opacity-6)
}

.user-nav__search-field:hover::placeholder {
  color: var(--basic-black-opacity-6)
}

.user-nav__search-field:focus::-webkit-input-placeholder {
  color: var(--basic-black-opacity-1)
}

.user-nav__search-field:focus::-moz-placeholder {
  color: var(--basic-black-opacity-1)
}

.user-nav__search-field:focus::placeholder {
  color: var(--basic-black-opacity-1)
}

.user-nav__search-field:focus {
  color: var(--basic-black);
  border-bottom-color: var(--basic-black);
  outline: 0
}

.user-nav__search-field:focus+.user-nav__search-button {
  visibility: visible
}

.user-nav__search-button {
  padding: 8px 18px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  border: 2px solid var(--basic-black);
  visibility: hidden
}

.user-nav__search-button:focus,
.user-nav__search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
  visibility: visible
}

.user-nav__search-button:active {
  color: var(--basic-grey-opacity-3);
  background-color: var(--basic-black);
  visibility: visible
}

/*-----*/

.user-nav__link {
  position: relative;
  padding-left: 30px;
  font: inherit;
  color: var(--basic-black);
  text-decoration: none
}

.user-nav__link:hover {
  opacity: .6
}

.user-nav__link:active {
  opacity: .3
}

.user-nav__link-user {
  margin-right: 17px;
  padding-left: 24px
}

.icon-user {
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 14px;
  fill: var(--basic-black)
}

.user-nav__link-user-logout {
  padding: 0;
  opacity: .3
}

.user-nav__item-comparison {
  margin-left: auto
}

.icon-comparison {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  fill: var(--basic-black)
}

.user-nav__link-basket {
  margin-right: 1px
}

.icon-basket {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 10px;
  height: 10px;
  fill: var(--basic-black-light)
}

/*Навигация по сайту*/

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 1040px;
  margin: 0;
  padding: 0;
  list-style: none
}

.site-nav__item {
  position: relative;
  margin-right: 35px
}

.site-nav__item:last-child {
  margin-right: -3px;
  margin-left: auto
}

.site-nav__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em
}

.site-nav__link-letter-spacing {
  letter-spacing: .1em
}

/*Каталог товаров*/

.site-nav__item-catalog {
  margin-right: 348px
}

.catalog-button {
  position: absolute;
  top: 3px;
  right: -34px;
  width: 16px;
  height: 16px;
  padding: 0;
  background: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer
}

.catalog-button-hover:hover+.site-nav__sublist {
  display: flex
}

.site-nav__link-catalog {
  position: relative
}

.site-nav__link:hover {
  opacity: .6
}

.site-nav__link:active {
  opacity: .3
}

.site-nav__sublist {
  position: absolute;
  left: -60px;
  z-index: 5;
  display: none;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto;
  padding: 30px 60px 42px;
  list-style: none;
  background-color: var(--special-yellow)
}

.site-nav__sublist ul {
  padding: 0;
  list-style: none
}

.sublist-visible {
  display: flex
}

.site-nav__sublist-item:first-child {
  flex-basis: 179px
}

.site-nav__sublist-item {
  display: flex;
  flex-basis: 125px;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-right: 61px;
  list-style: none
}

.site-nav__sublist-item li {
  margin-bottom: 16px;
}

.site-nav__sublist-item li:last-child {
  margin-bottom: 0
}

.site-nav__sublist-link:hover {
  opacity: .6
}

.site-navslider__list__sublist-link:active {
  opacity: .3
}

.site-nav__sublist-link {
  font: inherit;
  color: var(--basic-black);
  text-decoration: none
}

/*===Слайдер===*/

.slider {
  position: relative;
  z-index: 2;
  min-height: 495px;
  margin-top: -146px;
  overflow: hidden
}

.slider__container {
  position: relative;
  width: 1040px;
  margin: 0 auto
}

/*Управление слайдером*/

.slider__controls {
  position: absolute;
  bottom: 163px;
  right: 28px;
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 12px
}

.slider__switch,
.slider__switch::before {
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  box-sizing: border-box
}

.slider__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  cursor: pointer
}

.slider__switch::before {
  content: "";
  display: none;
  width: 6px;
  height: 6px
}

#slider__switch-1:checked~.slider__controls .slider__switch-1::before,
#slider__switch-2:checked~.slider__controls .slider__switch-2::before,
#slider__switch-3:checked~.slider__controls .slider__switch-3::before {
  display: block
}

#slider__switch-1:checked~.slider__list .slider__item-1,
#slider__switch-2:checked~.slider__list .slider__item-2,
#slider__switch-3:checked~.slider__list .slider__item-3 {
  display: flex
}

/*Слайды*/

.slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none
}

.slider__item {
  display: none;
  justify-content: space-between;
  width: 1040px;
  padding-left: 29px;
  box-sizing: border-box
}

/*Изображение слайдов*/

.slider-picture {
  max-width: 560px
}

.slider-picture-1 {
  margin-top: 17px;
  margin-bottom: 3px
}

.slider-picture-1 img {
  width: 384px;
  height: 486px
}

.slider-picture-2 {
  margin-top: 43px;
  margin-left: 27px
}

.slider-picture-2 img {
  width: 345px;
  height: 483px
}

.slider-picture-3 {
  margin-top: 99px;
  margin-left: -59px
}

.slider-picture-3 img {
  width: 526px;
  height: 334px
}

/*Контент слайдов*/

.slider__content {
  position: relative;
  width: 500px;
  padding-top: 109px
}

.slider__content::before {
  content: "";
  position: absolute;
  top: 51px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white)
}

.slider__content h2,
.slider__item .number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800
}

.slider__item .number {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  z-index: -1
}

.slider__item-1 .number {
  position: absolute;
  top: -4px;
  right: -13px
}

.slider__item-2 .number,
.slider__item-3 .number {
  position: absolute;
  top: -4px;
  right: -6px
}

.slider__content h2 {
  margin: 0 0 27px;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black)
}

.slider__content p {
  margin: 0 0 60px;
  width: 478px
}

.slider__content-button {
  width: 220px;
  padding: 9px 39px 9px 44px
}

.table-item {
  margin-top: 60px;
  margin-bottom: 26px;
  border-collapse: collapse;
  text-align: left
}

.table-item-1 {
  min-width: 447px;
}

.table-item-2 {
  min-width: 179px;
  margin-left: 1px
}

.table-item-3 {
  min-width: 132px
}

.table-item-3:last-child {
  margin-left: 26px
}

.option-name,
.option-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: var(--basic-black);
  letter-spacing: .1em;
  padding: 0
}

.option-name {
  font-size: 13px;
  line-height: 15px;
  padding: 15px 0 0
}

.space {
  width: auto;
  padding: 0
}

.col1 {
  width: 98px
}

.col2 {
  width: 76px;
  padding-left: 1px
}

.col3 {
  width: 147px
}

.option-material {
  padding-left: 4px
}

.slider__content__table-flex {
  display: flex
}

/*===Каталог товаров===*/

.catalog-mainmenu {
  margin-top: 90px;
  margin-bottom: 64px;
  padding-bottom: 5px
}

.catalog-mainmenu__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  list-style: none
}

.catalog-mainmenu__item {
  width: 160px;
  margin-right: 40px
}

.catalog-mainmenu__item:last-child {
  margin-right: 0
}

.catalog-mainmenu__link-container {
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  text-align: center;
  background-color: var(--special-yellow)
}

.catalog-mainmenu__link:hover .catalog-mainmenu__link-container {
  background-color: var(--special-yellow-dark);
  cursor: pointer
}

.catalog-mainmenu__link:active .catalog-mainmenu__name,
.catalog-mainmenu__link:active .icon-catalog-mainmenu {
  opacity: .3
}

.icon-catalog-mainmenu {
  fill: var(--basic-dark)
}

.icon-virtual-reality {
  width: 97px;
  height: 55px;
  margin-top: 52px;
  margin-left: -1px
}

.icon-monopods-for-selfie {
  width: 86px;
  height: 117px;
  margin-top: 26px
}

.icon-action-cameras {
  width: 71px;
  height: 87px;
  margin-top: 36px;
  margin-left: -1px
}

.icon-fitness-bracelets {
  width: 107px;
  height: 65px;
  margin-top: 48px;
  margin-left: 1px
}

.icon-smart-watch {
  width: 56px;
  height: 98px;
  margin-top: 31px
}

.icon-quadcopters {
  width: 132px;
  height: 69px;
  margin-top: 46px
}

.catalog-mainmenu__name {
  width: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .05em;
  color: var(--basic-black)
}

.catalog-mainmenu__item:first-child .catalog-mainmenu__name {
  margin-left: 1px
}

.catalog-mainmenu__categories-fitness-bracelets {
  letter-spacing: 0
}

/*======Сервис======*/

.services {
  min-width: 1160px;
  margin-bottom: 89px;
  padding-top: 15px;
  padding-bottom: 68px;
  background: linear-gradient(to bottom, var(--basic-white), var(--basic-white) 28.536%, var(--basic-grey-light) 28.536%, var(--basic-grey-light) 100%)
}

.services .container,
.services__controls {
  display: flex;
  align-items: flex-start
}

/*Управление слайдером*/

.services__controls {
  flex-direction: column;
  min-width: 277px;
  margin: 0;
  padding: 80px 0 77px;
  list-style: none;
  border-right: 7px solid var(--basic-black)
}

.services__controls-item {
  width: 100%;
  margin-bottom: 21px
}

.services__controls-item:first-child .button {
  padding: 9px 19px
}

.services__controls-item:nth-of-type(2) .button {
  padding: 9px 24px
}

.services__controls-item:last-child .button {
  padding: 9px 38px
}

.services__controls-item:last-child {
  margin-top: 1px;
  margin-bottom: 0
}

.services__controls .button::before {
  width: 160px
}

.services__switch {
  text-align: center;
  width: 160px
}

.services__switch-active {
  padding: 9px 24px
}

.services__switch-active::before,
.services__switch:active::before {
  background-color: transparent
}

.services__switch-active,
.services__switch-active:hover,
.services__switch:active {
  background-color: var(--basic-black)
}

.services__switch-active,
.services__switch:active {
  width: 100%;
  text-align: left;
  color: var(--special-yellow)
}

.services__switch:active {
  padding: 9px 24px 9px 19px
}

/*Слайды - контент*/

.services__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none
}

.services__item {
  position: relative;
  display: none;
  padding: 70px 0 61px 116px
}

.services__item-delivery {
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 738px 71px
}

.icon-guarantee {
  position: absolute;
  top: 53px;
  right: -16px;
  width: 171px;
  height: 195px
}

.services__item-credit {
  background-image: url(../img/icon-credit.svg);
  background-repeat: no-repeat;
  background-position: 712px 48px
}

.services__item-show {
  display: block
}

.services__item h2 {
  max-width: 495px;
  margin: 0 0 41px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: .2em;
  color: var(--basic-black)
}

.services__item p {
  max-width: 495px;
  margin: 0;
  line-height: 28px;
  letter-spacing: .1em
}

.services__item:nth-of-type(2) p {
  max-width: 574px;
  line-height: 30px
}

.services__item:last-child p {
  max-width: 540px;
  line-height: 28px
}

/*===Партнеры===*/

.partners {
  margin-bottom: 90px
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none
}

.partners__link-logo {
  display: block;
  width: 260px;
  height: 100px
}

.partners__link-logo-1,
.partners__link-logo-1:hover {
  background-image: url(../img/dji-gray.png);
  background-repeat: no-repeat;
  background-position: center
}

.partners__link-logo-1:hover {
  background-image: url(../img/dji.png)
}

.partners__link-logo-2,
.partners__link-logo-2:hover,
.partners__link-logo-3 {
  background-image: url(../img/spgadgets-gray.png);
  background-repeat: no-repeat;
  background-position: center
}

.partners__link-logo-2:hover,
.partners__link-logo-3 {
  background-image: url(../img/spgadgets.png)
}

.partners__link-logo-3 {
  background-image: url(../img/gopro-gray.png)
}

.partners__link-logo-3:hover,
.partners__link-logo-4,
.partners__link-logo-4:hover {
  background-image: url(../img/gopro.png);
  background-repeat: no-repeat;
  background-position: center
}

.partners__link-logo-4,
.partners__link-logo-4:hover {
  background-image: url(../img/vive-gray.png)
}

.partners__link-logo-4:hover {
  background-image: url(../img/vive.png)
}

/*===О нас, Контакты===*/

.info {
  display: grid;
  grid-template-columns: 473px 560px;
  grid-column-gap: 127px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 86px
}

.about-us,
.contacts {
  padding-top: 57px
}

.about-us h2,
.contacts h2 {
  margin: 0 0 41px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: .2em
}

.about-us h2::before,
.contacts h2::before {
  content: "";
  position: absolute;
  top: -56px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black)
}

.about-us p,
.contacts p {
  margin: 0 0 40px;
  line-height: 28px
}

.about-us__list {
  margin: 59px 0 79px;
  padding: 0;
  list-style: none
}

.about-us h2,
.about-us__item,
.contacts h2 {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: var(--basic-black)
}

.about-us__item {
  margin-bottom: 15px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 28px
}

.about-us__item:last-child {
  margin-top: -1px
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%
}

.about-us__item:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%
}

.about-us__item:last-child::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%
}

.about-us .button {
  width: 260px;
  padding: 9px 18px 9px 24px
}

.contacts .button {
  width: 260px;
  padding: 9px 37px 9px 40px
}

.map {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 85px
}

/*===Подвал===*/

.footer {
  min-width: 1160px;
  padding: 46px 0;
  background-color: var(--basic-dark)
}

/*Подвал верхняя линия*/

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 1160px;
  height: 57px
}

.footer__logo {
  align-self: flex-end
}

.footer__icon-logo:hover {
  opacity: .6
}

.footer__icon-logo:active {
  opacity: .3
}

.footer__user-nav {
  display: flex;
  justify-content: flex-end;
  align-self: start;
  min-width: 480px;
  margin: 0;
  padding: 0;
  list-style: none
}

.footer__user-nav__item {
  margin-right: 40px;
  position: relative
}

.footer__user-nav__item:first-child {
  margin-right: 42px
}

.monopods-for-selfie-page .footer__user-nav__item:first-child {
  margin-right: 40px
}

.footer__user-nav__item:last-child {
  margin-right: 1px
}

.footer__user-nav__link {
  padding-left: 24px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-grey-opacity-7);
  text-decoration: none
}

.footer__user-nav__link-logout {
  margin-left: 20px;
  padding-left: 0
}

.footer__icon-logo {
  fill: var(--special-yellow-dark)
}

.footer__icon-basket,
.footer__icon-comparison,
.footer__icon-user {
  position: absolute;
  top: 4px;
  left: 0;
  fill: var(--special-yellow-light)
}

.monopods-for-selfie-page .footer__icon-user {
  fill: var(--special-yellow-lighten);
  left: -2px
}

.footer__icon-basket,
.footer__icon-comparison {
  top: 5px;
  left: -1px
}

.footer__icon-basket {
  left: 2px
}

.footer__user-nav__link:hover .footer__icon-basket,
.footer__user-nav__link:hover .footer__icon-comparison,
.footer__user-nav__link:hover .footer__icon-user {
  opacity: .6
}

.footer__user-nav__link:hover,
.telephone-span a {
  color: var(--basic-white)
}

.footer__user-nav__link:active .footer__icon-basket,
.footer__user-nav__link:active .footer__icon-comparison,
.footer__user-nav__link:active .footer__icon-user,
.footer__user-nav__link:active::before {
  opacity: .3
}

.footer__user-nav__link:active {
  color: var(--basic-grey-opacity-3)
}

/*Подвал средняя линия*/

.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 67px
}

.address,
.telephone {
  margin: 0;
  min-width: 212px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white)
}

.footer__site-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 423px;
  list-style: none
}

.footer__site-nav__item:first-child {
  margin-left: 3px
}

.footer__site-nav__item {
  margin-right: 33px
}

.footer__site-nav__item:last-child {
  margin-right: 0
}

.telephone-span {
  margin-left: 49px
}

.footer__site-nav__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em
}

.breadcrumbs a:hover,
.footer__site-nav__link:hover {
  opacity: .6
}

.footer__site-nav__link:active {
  opacity: .3
}

/*Подвал нижняя линия*/

.footer__bottom,
.social {
  display: flex;
  justify-content: space-between
}

.footer__bottom {
  align-items: flex-start
}

.footer__bottom::before {
  content: "";
  align-self: center;
  width: 80px;
  height: 7px;
  margin-top: -7px;
  background-color: var(--special-yellow-light)
}

.social {
  min-width: 136px;
  margin: 0 53px 0 0;
  padding: 0 10px;
  list-style: none
}

.social__item {
  margin-right: 20px
}

.social__item:last-child {
  margin-right: 0
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 50%
}

.icon-facebook,
.icon-instagram,
.icon-twitter {
  fill: var(--basic-grey-opacity-3)
}

.icon-facebook:hover,
.icon-instagram:hover,
.icon-twitter:hover {
  fill: var(--basic-grey-opacity-6)
}

.icon-facebook:active,
.icon-instagram:active,
.icon-twitter:active {
  fill: var(--basic-grey-opacity-1)
}

.htmlacademy {
  margin-top: -1px;
  fill: var(--special-yellow-dark)
}

.htmlacademy:active,
.htmlacademy:hover {
  fill: var(--special-yellow-dark);
  opacity: .6
}

.htmlacademy:active {
  opacity: .3
}

/*===Хлебные крошки (Моноподы для селфи)===*/

.monopods-for-selfie-page .header {
  min-height: auto;
  margin-bottom: 43px;
  padding-bottom: 50px
}

.page-title {
  margin: 0 0 31px;
  padding-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black)
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 49px;
  padding: 0 0 0 60px;
  list-style: none
}

.breadcrumbs li {
  position: relative;
  margin-right: 16px;
  padding-right: 25px
}

.breadcrumbs li:first-child {
  margin-right: 20px;
  padding-right: 21px
}

.breadcrumbs li:last-child {
  padding-right: 0
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 4px;
  height: 7px;
  background-image: url(../img/icon-chevron-nav.svg);
  background-repeat: no-repeat;
  background-position: center
}

.breadcrumbs li:last-child::after {
  display: none
}

.breadcrumbs a {
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  text-decoration: none;
  opacity: .3
}

.breadcrumbs a:active {
  opacity: .1
}

.site-nav__sublist .link-disabled {
  pointer-events: none;
  cursor: default
}

.breadcrumbs .link-disabled,
.breadcrumbs .link-disabled:active,
.breadcrumbs .link-disabled:hover {
  pointer-events: none;
  cursor: default;
  opacity: .3
}

/*===Шапка Каталога===*/

.catalog-header {
  min-width: 1160px;
  min-height: 70px;
  background: linear-gradient(to right, var(--basic-grey-darker), var(--basic-grey-darker) 28.276%, var(--basic-grey-dark) 28.276%, var(--basic-grey-dark) 100%)
}

.catalog-header .container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 0
}

.catalog-header h2 {
  flex-shrink: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: .1em
}

.catalog-header__filter-header {
  width: 268px;
  padding: 24px 0 26px;
  background-color: var(--basic-grey-darker)
}

.catalog-header__sorting-header,
.catalog-header__sorting-header__list {
  display: flex;
  align-items: center
}

.catalog-header__sorting-header {
  width: 760px;
  padding: 24px 0 26px
}

.catalog-header__sorting-header__list {
  flex-wrap: wrap;
  margin: 0 0 0 73px;
  padding: 0;
  list-style: none
}

.catalog-header__sorting-header__list-up-down {
  flex-wrap: nowrap;
  margin-left: auto;
  margin-top: 1px
}

.filter__form h3,
.catalog-header__sorting-header__link {
  font-size: 14px;
  color: var(--basic-black)
}

.catalog-header__sorting-header__link {
  display: block;
  margin-right: 30px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 19px;
  opacity: .3
}

.catalog-header__sorting-header__link:hover {
  opacity: .6
}

.catalog-header__sorting-header__link:active {
  opacity: 1
}

.catalog-header__sorting-header__link-down,
.catalog-header__sorting-header__link-up {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center
}

.catalog-header__sorting-header__link-up {
  margin: 0;
  background-image: url(../img/icon-up-dir.svg);
  opacity: .2
}

.catalog-header__sorting-header__link-up:hover {
  opacity: .4
}

.catalog-header__sorting-header__link-up:active {
  opacity: 1
}

.catalog-header__sorting-header__link-down {
  margin: 0 0 0 16px;
  background-image: url(../img/icon-down-dir.svg)
}

.catalog-header__sorting-header__link-down:hover {
  opacity: .4
}

.catalog-header__sorting-header__link-current:active,
.catalog-header__sorting-header__link-current:hover,
.catalog-header__sorting-header__link-down:active {
  opacity: 1
}

.catalog-header__sorting-header__link-current {
  pointer-events: none;
  cursor: default;
  opacity: 1
}

/*===Фильтры===*/

.catalog-content {
  background: linear-gradient(to right, var(--special-grey-lighten), var(--special-grey-lighten) 28.276%, var(--basic-white) 28.276%, var(--basic-white) 100%)
}

.catalog-content .container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 0
}

.filter {
  width: 200px;
  padding-top: 70px;
  padding-right: 68px;
  background-color: var(--special-grey-lighten)
}

.filter__form fieldset {
  margin: 0;
  padding: 14px 0 35px;
  border: 0;
  border-top: 2px solid var(--basic-black)
}

.filter__form .price {
  padding-bottom: 38px
}

.filter__form .bluetooth {
  padding-bottom: 19px
}

.filter__form h3 {
  margin: 0 0 39px;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: .1em;
  border: 0
}

.scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 17px;
  background-color: var(--basic-black-opacity-2)
}

.range-toggle {
  content: "";
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: var(--special-grey-dark);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 var(--basic-black-opacity-018);
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer
}

.range-toggle-max {
  left: 114px
}

.range-toggle:active {
  transform: scale(1)
}

.bar {
  position: absolute;
  top: 0;
  left: 8px;
  width: 110px;
  height: 2px;
  background-color: var(--special-green)
}

.device-photo:hover .device-photo__hover,
.price__values {
  display: flex
}

.price__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black)
}

.price__label:first-child {
  margin-right: 29px
}

.price__label input {
  width: 50px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  background-color: transparent;
  border: 0
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none
}

.filter__option {
  margin-bottom: 19px
}

.filter__option:last-child {
  margin-bottom: 4px
}

.filter__option label {
  position: relative;
  padding-left: 42px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer
}

.bluetooth__filter__option label {
  padding-left: 40px
}

.color h3 {
  margin-bottom: 32px
}

.bluetooth h3 {
  margin-bottom: 31px
}

.bluetooth .filter__option {
  margin-bottom: 20px
}

.filter__input:focus+label {
  outline: 1px dotted var(--basic-black)
}

.filter__input-checkbox+label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center
}

.filter__input-checkbox:checked+label::before {
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center
}

.filter__input-radio+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  box-sizing: border-box
}

.filter__input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%
}

.filter__option label:hover::after,
.filter__option label:hover::before {
  opacity: .6
}

.filter__option label:active::after,
.filter__option label:active::before {
  opacity: 1;
}

.filter__input:disabled+label {
  color: var(--special-grey);
  cursor: default
}

.filter__input:disabled+label::after,
.filter__input:disabled+label::before {
  opacity: .25
}

.filter__form-button {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 78px;
  padding-left: 36px;
  padding-right: 42px
}

/*===Карточки товаров===*/

.sorting {
  width: 760px;
  padding-top: 70px
}

.catalog-item-new::before,
.catalog-list {
  display: flex
}

.catalog-list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none
}

.catalog-item {
  position: relative;
  max-width: 360px;
  margin-bottom: 48px
}

.catalog-item-new::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: var(--basic-black-opacity-3);
  text-transform: uppercase;
  border: 2px solid;
  border-color: var(--basic-black-opacity-3);
  border-radius: 50%
}

.device-photo {
  position: relative;
  z-index: 1;
  width: 360px;
  height: 380px;
  margin-bottom: 30px
}

.catalog-item-new::before,
.device-photo__button,
.device-photo__hover {
  box-sizing: border-box
}

.device-photo__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding-top: 170px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--basic-half-grey-opacity-7)
}

.device-photo__button {
  min-width: 200px;
  margin-bottom: 5px;
  padding-left: 38px;
  padding-right: 38px
}

.device-photo__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  opacity: .5
}

.device-photo__link:hover {
  opacity: 1
}

.device-photo__link:active {
  opacity: .2
}

.device-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline
}

.device-name {
  max-width: 278px;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .05em;
  color: var(--basic-black)
}

.device-name-padding {
  padding-left: 1px
}

.device-price {
  flex-shrink: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .05em;
  color: var(--basic-black)
}

.device-price__margin {
  margin-right: 9px
}

.device-price__margin-min {
  margin-right: -5px
}

.device-price__margin-minus {
  margin-right: -1px
}

.sorting .paginator {
  margin-top: -8px
}

/*===Пагинатор===*/

.paginator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 78px;
  padding: 0;
  list-style: none;
  background-color: var(--basic-grey-dark)
}

.paginator__item {
  margin-right: 29px
}

.paginator__item:first-child {
  margin-right: 216px
}

.paginator__item:last-child {
  margin-right: 0;
  margin-left: auto
}

.paginator__link {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  opacity: .3
}

.paginator__link:hover {
  opacity: .6
}

.paginator__link:active {
  opacity: 1
}

.paginator__link-current,
.paginator__link-current:active,
.paginator__link-current:hover {
  cursor: default;
  opacity: 1
}

.paginator__link-prev {
  padding: 24px 30px 26px;
  opacity: 1
}

.paginator__link-prev-disabled {
  pointer-events: none;
  cursor: default;
}

.paginator__link-next {
  opacity: 1;
  padding: 24px 29px 26px 30px
}

.paginator__link-next:hover,
.paginator__link-prev:hover {
  color: var(--basic-black-opacity-1);
  background-color: var(--basic-grey-lighten);
  opacity: 1
}

.paginator__link-next:active,
.paginator__link-prev:active {
  color: var(--basic-black-opacity-3);
  background-color: var(--basic-grey-lighten)
}

/*===Модальное окно обратной связи===*/

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  width: 960px;
  height: 550px;
  padding: 92px 100px 69px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 16px var(--basic-black-opacity-015);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  -webkit-animation: feedback 0.8s;
  animation: feedback 0.8s
}

.modal-feedback__form__item,
.modal-feedback__form__list {
  display: flex;
  align-items: flex-start
}

.modal-feedback__form__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 13px;
  padding: 0;
  list-style: none
}

.modal-feedback__form__item {
  flex-direction: column;
  margin-bottom: 32px
}

.modal-feedback__form__item:last-child {
  flex-grow: 1
}

.modal-feedback__form__label {
  margin-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black)
}

.modal-feedback__form__input {
  min-width: 360px;
  height: 50px;
  padding: 17px 20px;
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black-opacity-4);
  background-color: var(--basic-white-dark);
  border: 0;
  resize: none;
  box-sizing: border-box
}

.modal-feedback__form__input::-webkit-input-placeholder {
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black-opacity-4)
}

.modal-feedback__form__input::-moz-placeholder {
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black-opacity-4)
}

.modal-feedback__form__input::placeholder {
  font-family: "Open Sans", "Verdana", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black-opacity-4)
}

.modal-feedback__form__input:hover {
  background-color: var(--special-grey-whiten)
}

.modal-feedback__form__input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-yellow)
}

.modal-feedback__form__input-comment {
  width: 100%;
  height: 167px
}

.modal-feedback__button {
  width: 200px;
  padding-left: 34px;
  padding-right: 35px
}

.modal-error {
  -webkit-animation: shake 0.8s;
  animation: shake 0.8s
}

.modal-error .modal-feedback__form__input {
  outline: none;
  background-color: var(--special-red-white)
}

/*===Модальное окно - карта===*/

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  overflow: hidden;
  box-shadow: 0 10px 16px var(--basic-black-opacity-015);
  transform: translate(-50%, -50%);
  -webkit-animation: map 0.8s;
  animation: map 0.8s
}

.modal-map iframe {
  border: 0
}

.modal-map,
.modal-map img {
  width: 960px;
  height: 559px
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5
}

.modal-close:hover {
  opacity: 1
}

.modal-close:focus {
  outline: 1px dotted var(--basic-black)
}

.modal-close:active {
  opacity: .3
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 16px;
  width: 24px;
  height: 2px;
  background-color: var(--basic-white);
  opacity: .7
}

.modal-close::before {
  transform: rotate(-45deg)
}

.modal-close::after {
  transform: rotate(45deg)
}

.modal-show {
  display: block
}
